<html>
        <head>
            <title>cnn test page</title>
        </head>
        <body>
            <h1>model api test page</h1>
            <div>
                <div>
                    <h3>sample request pages</h3>
                </div>
                <!-- detect api test -->
                <div style="padding-top: 20px">
                    <div>
                        detect api test
                    </div>
                    <div>
                        <input type='file' id='upload-file' />
                    </div>
                    <div>
                        <button id="detect_btn" type="button">detect test</button>
                    </div>
                    <div>detect api output result</div>
                    <div style="border: solid 1px #000; height: 300px; width: 300px;" id="predict_result"></div>
                </div>
            </div>
            
            <div>
                <!-- load script -->
                <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
                <script>
                    $(function(){
                        // write javascript codes

                        $("#detect_btn").on("click", function(){
                            // analyzing
                            var file = document.querySelector('input[type=file]').files[0];
                            var reader = new FileReader();
                            reader.onload = (function(theFile){
                                return function(e) {
                                    // api request
                                    $.ajax({
                                        type: 'POST',
                                        url: '/api/detect',
                                        contentType: 'application/json',
                                        dataType: 'json',
                                        data: JSON.stringify({
                                            "image": e.target.result
                                        })
                                    }).done(function(response){
                                        console.log('ok');
                                        $('#predict_result').text(response);
                                    });
                                    return;
                                };
                            })(file);
                            
                            if(file){
                                reader.readAsDataURL(file);
                            } else {
                                alert("file empty!")
                            }
                        });
    
                        return;
                    });
                </script>
            </div>
        </body>
    </html>