<html>
        <head>
            <title>cnn test page</title>
        </head>
        <body>
            <h1>model api test page</h1>
            <div>
                <div>
                    <h3>sample request pages</h3>
                </div>
                <!-- detect api test -->
                <div style="padding-top: 20px">
                    <div>
                        detect api test
                    </div>
                    <div>
                        <input type='file' id='upload-file' />
                    </div>
                    <div>
                        <button id="detect_btn" type="button">detect test</button>
                    </div>
                    <div>detect api output result</div>
                    <!-- <div style="border: solid 1px #000; height: 300px; width: 300px;" id="predict_result"></div> -->
                    <div style="padding-top: 10px;">
                        <div id="warning-msg">
                            <h1>あおり運転です！！</h1>
                        </div>
                        <div id="safe-msg">
                            <h1>安全運転です！！</h1>
                        </div>
                        <div style="margin-top: 15px;">
                            <h3>
                                煽りチェックAPI
                            </h3>
                        </div>
                        <div>
                            <button id="ng_check_btn" type="button">ng_check</button>
                        </div>
                        <div style="margin-top: 5px;">
                            <img id="ng-img" src="" />
                        </div>
                        <div id="non-ng">
                            あおりなし
                        </div>
                    </div>
                </div>
            </div>
            
            <div>
                <!-- load script -->
                <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
                <script>
                    $(function(){
                        // write javascript codes
                        $("#warning-msg").hide();
                        $("#safe-msg").hide();

                        $("#detect_btn").on("click", function(){
                            $("#warning-msg").hide();
                            $("#safe-msg").hide();
                            $("#non-ng").hide();

                            // analyzing
                            var file = document.querySelector('input[type=file]').files[0];
                            var reader = new FileReader();
                            reader.onload = (function(theFile){
                                return function(e) {
                                    // api request
                                    $.ajax({
                                        type: 'POST',
                                        url: '/api/detect',
                                        contentType: 'application/json',
                                        dataType: 'json',
                                        data: JSON.stringify({
                                            "image": e.target.result
                                        })
                                    }).done(function(response){
                                        console.log('ok');
                                        // $('#predict_result').text(response["predict"]);
                                        if(response["predict"] === "near") {
                                            $("#warning-msg").show();
                                        } else {
                                            $("#safe-msg").show();
                                        }
                                        // $("#detect-img").attr('src', response["image"])
                                    });
                                    return;
                                };
                            })(file);
                            
                            if(file){
                                reader.readAsDataURL(file);
                            } else {
                                alert("file empty!")
                            }
                        });

                        $("ng_check_btn").on("click", function(){
                            $.ajax({
                                type: 'GET',
                                url: '/api/ng_check',
                                contentType: 'application',
                                dataType: 'json',
                            }).done(function(response){
                                if(response['is_ng']) {
                                    $("#non-ng").hide()
                                    $("#ng-img").attr('src', response['image'])
                                } else {
                                    $("#non-ng").show()
                                }
                            })
                        });
    
                        return;
                    });
                </script>
            </div>
        </body>
    </html>